# py
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# secrets
.env
*.db
*.sqlite3
liste.json
*-litestream
db.sqlite*
litestream.yml

# dev machine specific
*.ps1
*.exe
.vscode/
theme/static/css/dist/

# temp
temp/
tmp/

# vendored
*.deb