Django~=4.2
django-registration==3.3
lxml #@ <local-file>/lxml-4.9.0-cp311-cp311-win_amd64.whl
django-render-block==0.9.2
django-htmx==1.17.3
pydot==1.4.2
natsort==8.2.0
django-tailwind==3.4.0
django-crispy-forms==1.14.0
gunicorn==20.1.0
boto3==1.26.49
Markdown==3.4.1
Pillow
django-impersonate==1.8.2
psycopg2-binary
whitenoise==6.4.0
collatex==2.3
Levenshtein==0.26.1
django-template-partials==23.4
peasy-jobs==0.3.1

# dev
# rich
# nodejs-bin
# nodejs-bin[cmd]
