{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex overflow-x-hidden">
    <div class="hidden absolute lg:relative lg:flex lg:flex-col w-64 min-h-screen px-4 py-8 overflow-y-auto border-r bg-orange-50 dark:bg-cyan-1400">
        <nav role="navigation" aria-label="About Apatosaurus" class="flex flex-col justify-between mt-6">
            <h1 class="text-2xl text-center font-bold">About</h1>
            <hr class="my-4 border-orange-700 border-t-4">
            <ul class="mt-10 flex flex-col items-center">
                {% for page in pages %}
                    {% if about_active == page.slug %}
                        <li class="my-2">
                            <a href="#" aria-current="page"
                                class="w-full px-4 py-1 text-white bg-orange-700 rounded-md my-2">
                                {{ page.title }}
                            </a>
                        </li>
                    {% else %}
                        <li class="my-2">
                            <a href="{% url 'about' slug=page.slug %}"
                                class="w-full px-4 py-1 text-back dark:text-white hover:bg-orange-400 rounded-md my-2">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    <main id="main" class="md:max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto">
        <div class="prose color-prose bg-orange-50 dark:bg-cyan-1300 py-4 px-2 sm:px-8">
            <h2 class="text-4xl text-center font-bold">
                {{ about_page.title }}
            </h2>
            {{ about_page.html|safe }}
        </div>
    </main>
</div>
{% endblock %}