{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="mx-1 md:mx-10 lg:mx-10 xl:mx-32 2xl:mx-48 mb-auto">
    <div class="py-14 sm:py-24 lg:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="sm:text-center">
                <h1 class="text-6xl text-center my-5">
                    Apatosaurus
                </h1>
                <p class="mt-2 text-2xl font-bold font-serif tracking-tight italic">A web app that eats
                    and creates TEI Collations</p>
            </div>

            <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
                <div class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16">
                    <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row bg-orange-100 dark:bg-cyan-900 p-3 rounded-xl drop-shadow-md">
                        <div
                            class="flex h-12 w-12 items-center justify-center rounded-xl bg-cyan-500 text-white sm:shrink-0">
                            <!-- eye icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="sm:min-w-0 sm:flex-1">
                            <p class="text-lg font-semibold leading-8">Visualize Textual Data</p>
                            <p class="mt-2 text-base leading-7">
                                Explore existing collation data in an intuative layout. 
                                View variation unit boundaries, readings, reading types, witnesses, editor's notes,
                                and more.
                            </p>
                        </div>
                    </div>

                    <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row bg-orange-100 dark:bg-cyan-900 p-3 rounded-xl drop-shadow-md">
                        <div
                            class="flex h-12 w-12 items-center justify-center rounded-xl bg-cyan-500 text-white sm:shrink-0">
                            <!-- edit icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </div>
                        <div class="sm:min-w-0 sm:flex-1">
                            <p class="text-lg font-semibold leading-8">Create and Edit Textual Collations</p>
                            <p class="mt-2 text-base leading-7">
                                Add or edit the basetext, variation unit boundaries, readings, 
                                witnesses, genealogical relationships, and more.
                                Collations can be exported in TEI or Microsoft Word formats.
                            </p>
                        </div>
                    </div>

                    <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row bg-orange-100 dark:bg-cyan-900 p-3 rounded-xl drop-shadow-md">
                        <div
                            class="flex h-12 w-12 items-center justify-center rounded-xl bg-cyan-500 text-white sm:shrink-0">
                            <!-- analyze icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 000 1.5H3v10.5a3 3 0 003 3h1.21l-1.172 3.513a.75.75 0 001.424.474l.329-.987h8.418l.33.987a.75.75 0 001.422-.474l-1.17-3.513H18a3 3 0 003-3V3.75h.75a.75.75 0 000-1.5H2.25zm6.04 16.5l.5-1.5h6.42l.5 1.5H8.29zm7.46-12a.75.75 0 00-1.5 0v6a.75.75 0 001.5 0v-6zm-3 2.25a.75.75 0 00-1.5 0v3.75a.75.75 0 001.5 0V9zm-3 2.25a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0v-1.5z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="sm:min-w-0 sm:flex-1">
                            <p class="text-lg font-semibold leading-8">Analyze Collation Data</p>
                            <p class="mt-2 text-base leading-7">
                                Apply a Suite of Analytical Tools to your Collation Data
                                including a platform and interface for a full implementation
                                of the CBGM.
                            </p>
                        </div>
                    </div>

                    <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row bg-orange-100 dark:bg-cyan-900 p-3 rounded-xl drop-shadow-md">
                        <div
                            class="flex h-12 w-12 items-center justify-center rounded-xl bg-cyan-500 text-white sm:shrink-0">
                            <!-- gift icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                                <path d="M9.375 3a1.875 1.875 0 000 3.75h1.875v4.5H3.375A1.875 1.875 0 011.5 9.375v-.75c0-1.036.84-1.875 1.875-1.875h3.193A3.375 3.375 0 0112 2.753a3.375 3.375 0 015.432 3.997h3.943c1.035 0 1.875.84 1.875 1.875v.75c0 1.036-.84 1.875-1.875 1.875H12.75v-4.5h1.875a1.875 1.875 0 10-1.875-1.875V6.75h-1.5V4.875C11.25 3.839 10.41 3 9.375 3zM11.25 12.75H3v6.75a2.25 2.25 0 002.25 2.25h6v-9zM12.75 12.75v9h6.75a2.25 2.25 0 002.25-2.25v-6.75h-9z" />
                            </svg>
                        </div>
                        <div class="sm:min-w-0 sm:flex-1">
                            <p class="text-lg font-semibold leading-8">Publish a Digital Critical Apparatus</p>
                            <p class="mt-2 text-base leading-7">
                                Apatosaurus provides a platform not only for creating and editing collations, 
                                but also for publishing and sharing them with the world.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}