{% load crispy_forms_tags %}
<h2 class="text-xl font-semibold">Edit {{ witness.siglum }}</h2>
<form action="submit"
    hx-post="{% url 'edit-witness' witness_pk=witness.pk %}"
    hx-target="#new-witness-form">
    {{ form|crispy }}
    <div class="flex flex-row">
        <button class="btn-submit mx-2" type="submit">Submit</button>
        <button type="button" class="btn-secondary mx-2"
            hx-get="{% url 'cancel-edit-witness' %}"
            hx-target="#new-witness-form">
            Cancel
        </button>
        <button class="btn-danger mx-2" type="button"
            hx-delete="{% url 'edit-witness' witness_pk=witness.pk %}"
            hx-target="#new-witness-form"
            hx-confirm="Are you sure you want to delete {{ witness.siglum }}">
            Delete
        </button>
    </div>
</form>