{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main id="main" class="mx-1 md:mx-10 lg:mx-10 xl:mx-32 2xl:mx-48 mb-auto">
    <h1 class="text-center text-4xl my-4">Textual Witnesses</h1>
    <div class="flex flex-col bg-orange-100 dark:bg-cyan-1400">
        <h2 class="sr-only">Witnesses in Database</h2>
        <div role="tablist" class="flex rounded-md bg-orange-200 dark:bg-cyan-1000">
            <button id="default-wits-btn" role="tab" aria-controls="default-witnesses" aria-selected="true"
                class="text-lg font-semibold bg-orange-100 dark:bg-cyan-1400 h-full w-6/12 py-4"
                _="on click set my @aria-selected to 'true' then set #my-wits-btn's @aria-selected to 'false'
                    then add .bg-orange-100 .dark:bg-cyan-1400 to me then remove .hover:bg-orange-300 .hover:dark:bg-cyan-1100 from me
                    then remove .bg-orange-100 .dark:bg-cyan-1400 from #my-wits-btn then add .hover:bg-orange-300 .hover:dark:bg-cyan-1100 to #my-wits-btn 
                    then hide #my-witnesses then show #default-witnesses end">
                Default Witnesses
            </button>
            <button id="my-wits-btn" role="tab" aria-controls="my-witnesses"
                _="on click set my @aria-selected to 'true' then set #default-wits-btn's @aria-selected to 'false'
                then add .bg-orange-100 .dark:bg-cyan-1400 to me then remove .hover:bg-orange-300 .hover:dark:bg-cyan-1100 from me
                then remove .bg-orange-100 .dark:bg-cyan-1400 from #default-wits-btn then add .hover:bg-orange-300 .hover:dark:bg-cyan-1100 to #default-wits-btn 
                then hide #default-witnesses then show #my-witnesses end"
                class="text-lg font-semibold h-full w-6/12 py-4 hover:bg-orange-300 hover:dark:bg-cyan-1100">
                My Witnesses
            </button>
        </div>
            
        <div id="default-witnesses"  role="tabpanel" class="p-8">
            <p class="mb-4">
                <label class="sr-only" for="wits-filter">Filter Witnesses</label>
                <input type="text" id="wits-filter" placeholder="Filter Witnesses"
                _="on keyup if my value == '' show <p/> in #default_witnesses_list else if the event's key is 'Escape' set my value to '' trigger keyup else show <p/> in #default_witnesses_list when its textContent.startsWith(my value) end">
            </p>
            <div class="flex flex-col max-h-screen overflow-y-auto" id="default_witnesses_list">
                {% for wit in default_witnesses %}
                    <p>{{ wit.siglum }} - {{ wit.description }}</p>
                {% endfor %}
            </div>
        </div>
        <div id="my-witnesses" role="tabpanel" class="p-8" style="display: none;">
            <p class="mb-4">
                <label class="sr-only" for="user-wits-filter">Filter Witnesses</label>
                <input type="text" id="user-wits-filter" placeholder="Filter Witnesses"
                _="on keyup if my value == '' show <p/> in #user_witnesses_list else if the event's key is 'Escape' set my value to '' trigger keyup else show <p/> in #user_witnesses_list when its textContent.startsWith(my value) end">
            </p>
            <div class="flex flex-row justify-around flex-wrap">
                <div class="flex flex-col max-h-screen overflow-y-auto" id="user_witnesses_list"
                    hx-trigger="refreshUserWitnesses from:body"
                    hx-get="{% url 'refresh-user-witnesses' %}">
                    {% block user_witnesses %}
                        {% for wit in user_witnesses %}
                            <p>
                                {{ wit.siglum }} - {{ wit.description }}
                                <button class="btn p-0 my-1 mx-4" 
                                    type="button" aria-label="edit" title="edit"
                                    hx-get="{% url 'edit-witness' witness_pk=wit.pk %}"
                                    hx-target="#new-witness-form">
                                    &#128393;
                                </button>
                            </p>
                        {% endfor %}
                    {% endblock user_witnesses %}
                </div>
                <div id="new-witness-form">
                    {% block new_witness_form %}
                    <h2 class="text-xl font-semibold">New Witness</h2>
                        <form action="submit" class="table rows"
                            hx-post="{% url 'add-new-witness' %}"
                            hx-target="#new-witness-form">
                            {{ form|crispy }}
                            <button type="submit" class="btn-submit">Submit New Witness</button>
                        </form>
                    {% endblock new_witness_form %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}