{% extends 'base.html' %}
{% block content %}

<fieldset class="flex flex-col p-4">
    <legend class="text-4xl text-center">Normalize Greek</legend>
    <textarea name="greek-input" id="greek-input" rows="10"></textarea>
    <div class="flex-row self-center">
        <button id="normalize-greek" type="button" class="btn my-4 mx-6">Normalize Greek</button>
        <button type="button" id="copyToClipboard" class="btn my-4 mx-6">Copy Output</button>
    </div>
    <textarea name="greek-output" id="greek-output" rows="10" readonly="readonly"></textarea>
    <div class="flex flex-row items-center flex-wrap">
        <div>
            <label for="removePunctuation" class="mr-1">Remove Punctuation</label>
            <input type="checkbox" name="removePunctuation" id="removePunctuation" class="mr-4">
        </div>
        <div>
            <label for="removeNumerals" class="mr-1">Remove Arabic Numerals</label>
            <input type="checkbox" name="removeNumerals" id="removeNumerals" class="mr-4">
        </div>
        <div>
            <label for="removeAccents" class="mr-1">Remove Accents</label>
            <input type="checkbox" name="removeAccents" id="removeAccents" class="mr-4">
        </div>
        <div>
            <label for="removeLineBreaks" class="mr-1">Remove Line Breaks</label>
            <input type="checkbox" name="removeLineBreaks" id="removeLineBreaks" class="mr-4">
        </div>
        <div>
            <label for="makeLowercase" class="mr-1">Make Lowercase</label>
            <input type="checkbox" name="makeLowercase" id="makeLowercase" class="mr-4">
        </div>
    </div>
</fieldset>

<script>
    // write a function to remove accents from a string of Greek unicode characters and remove all punctuation and make all characters lowercase
    function normalizeGreek(str) {
        if (document.getElementById("removeLineBreaks").checked) {
            str = str.replace(/[\n]/g, '');
        }
        if (document.getElementById("removeAccents").checked) {
            str = str.normalize('NFD').replace(/[\u0300-\u036f\u0021-\u002f\u003a-\u0040\u005b-\u0060\u007b-\u007e\u0267]/g, '');
        }
        if (document.getElementById("removePunctuation").checked) {
            str = str.normalize('NFD').replace(/[,.·]/g, '');
        }
        if (document.getElementById("removeNumerals").checked) {
            str = str.normalize('NFD').replace(/[0-9]/g, '');
        }
        if (document.getElementById("makeLowercase").checked) {
            str = str.toLowerCase();
        }
        return str;
    }
    function normalizeGreekInTextarea() {
        var greek = document.getElementById("greek-input").value;
        var normalizedGreek = normalizeGreek(greek);
        document.getElementById("greek-output").value = normalizedGreek;
    }
    document.getElementById("copyToClipboard").addEventListener("click", function() {
        document.getElementById("greek-output").select();
        document.execCommand("copy");
    });
    document.getElementById("normalize-greek").addEventListener("click", normalizeGreekInTextarea);
    // trigger same function when user presses enter in the input field
    document.getElementById("greek-input").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("normalize-greek").click();
        }
    });
</script>

{% endblock %}
