{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex">
    <div class="z-20 hidden absolute lg:relative lg:flex lg:flex-col w-64 min-h-screen px-4 py-8 overflow-y-auto border-r bg-orange-50 dark:bg-cyan-1400"
        id="sidebar-nav-published">
        <div class="flex flex-col justify-between mt-6">
            <h1 class="text-2xl text-center">{{ section.name }}</h1>
            <hr class="my-4 border-orange-700 border-t-4">
            <ul>
                {% include 'published/verses.html' %}
            </ul>
        </div>
    </div>
    <button type="button" aria-label="Show Menu" title="Show Menu"
        class="z-30 absolute lg:hidden rounded-md p-2 text-gray-00 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        _="on click toggle .hidden on #sidebar-nav-published">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
        </svg>
    </button>

    <main id="main" class="mx-3 mb-auto w-full">
        <div class="flex flex-col w-full items-center mt-2">
            {% if editor %}
                {% include 'published/breadcrumbs/editor-collation-section-ab.html' %}
            {% else %}
                {% include 'published/breadcrumbs/collation-section-ab.html' %}
            {% endif %}
        </div>

        <h2 class="text-4xl text-center my-12">Apparatus for {{ ab.name }}</h2>

        <div class="bg-orange-100 dark:bg-cyan-1400 pb-10 pt-5 my-4 drop-shadow">
            <h3 class="text-2xl text-center my-4">Variation Units</h3>
            <div class="flex flex-col items-center w-full">
                <div class="flex flex-row flex-wrap" id="app-buttons-wrapper">
                    {% block app_buttons %}
                        {% for app in ab.apps.all %}
                            <button id="app-{{ app.pk }}" class="btn mx-2 my-1 py-0" type="button" 
                                hx-get="{% url 'published-rdgs' app_pk=app.pk %}" 
                                hx-target="#readings"
                                _="on mouseenter add .bg-orange-300 .dark:bg-cyan-800 to .bt-{{ app.pk }} end
                                on mouseleave remove .bg-orange-300 .dark:bg-cyan-800 from .bt-{{ app.pk }} end
                                on click remove .selected from .app-button then add .selected to me 
                                then remove .selected from <td/> then add .selected to .bt-{{ app.pk }} end">
                                {{ app.index_from }}{% if app.index_from != app.index_to %}–{{ app.index_to }}{% endif %}
                            </button>
                        {% endfor %}
                    {% endblock app_buttons %}
                </div>
            </div>
        </div>
        
        <div class="bg-orange-100 dark:bg-cyan-1400 pb-10 pt-5 my-4 drop-shadow">
            <h3 class="text-2xl text-center my-4">Basetext - {{ ab.basetext_label }}</h3>
            <div class="flex flex-col items-center">
                <table id="basetext" class="table-auto">
                    <tbody id="basetext_table_body">
                        {% block basetext_row %}
                            <tr class="flex flex-row flex-wrap"
                                hx-get="{% url 'refresh-basetext' ab_pk=ab.pk %}"
                                hx-target="#basetext_table_body" hx-trigger="refreshBasetext from:body">
                                <th scope="row" class="px-2">Basetext<br>Index</th>
                                {% for word in ab.indexed_basetext %}
                                    {% if word.is_variant %}
                                        <td class="font-greek font-semibold text-center bt-{{ word.app_pk }} px-2 border-b-2 border-b-orange-700 cursor-pointer" tabindex="0" 
                                            hx-get="{% url 'published-rdgs' app_pk=word.app_pk %}" hx-target="#readings"
                                            _="on mouseenter add .bg-orange-300 .dark:bg-cyan-800 to .bt-{{ word.app_pk }} then add .bg-orange-400 .dark:bg-cyan-800 to #app-{{ word.app_pk }} end
                                            on mouseleave remove .bg-orange-300 .dark:bg-cyan-800 from .bt-{{ word.app_pk }} then remove .bg-orange-400 .dark:bg-cyan-800 from #app-{{ word.app_pk }} end
                                            on click remove .selected from <td/> then add .selected to .bt-{{ word.app_pk }} 
                                            then remove .selected from .app-button then add .selected to #app-{{ word.app_pk }}">
                                            {{ word.word }}<br>{{ word.index }}
                                        </td>
                                    {% else %}
                                        <td class="font-greek font-semibold text-center px-2">
                                            {{ word.word }}<br>{{ word.index }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endblock basetext_row %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="readings" class="bg-orange-100 border-orange-100 dark:bg-cyan-1400 dark:border-darknav pb-10 pt-5 my-4 drop-shadow"></div>
    </main>



</div>

<style>
    {% for app in ab.apps.all %}
        td:not(.bt-{{ app.pk }}) + td.bt-{{ app.pk }} {
            border-left: solid 2px #bd461d;
            margin-left: 15px;
        }
        td.bt-{{ app.pk }}:first-of-type {
            border-left: solid 2px #bd461d;
            margin-left: 15px;
        }
    {% endfor %}
    .selected {
        background-color: #bd461d;
        color: white;
    }
</style>
{% endblock content %}