{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div class="flex">
        <div class="hidden md:flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto border-r bg-orange-100 dark:bg-darknav">
            <div class="flex flex-col justify-between mt-6">
                <h1 class="text-2xl text-center">{{ section.name }}</h1>
                <hr class="my-4 border-orange-700 border-t-4">
                <ul>
                    {% include 'published/verses.html' %}
                </ul>
            </div>
        </div>
        <main id="main" class="mx-1 mb-auto w-full">
            <div class="flex flex-col w-full items-center">
                {% if editor %}
                    {% include 'published/breadcrumbs/editor-collation-section.html' %}
                {% else %}
                    {% include 'published/breadcrumbs/collation-section.html' %}
                {% endif %}
            </div>
        </main>
    </div>
</div>

{% endblock content %}