{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
    <nav class="rounded-md w-full" aria-label="breadcrumbs">
        <ol class="list-reset flex">
            <li><a class="underline hover:text-orange-700 hover:dark:text-cyan-500 rounded-md" href="{% url 'published' %}">Published</a></li>
                <li><span class="text-gray-500 dark:text-white mx-2">/</span></li>
            <li><a class="underline hover:text-orange-700 hover:dark:text-cyan-500 rounded-md" href="{% url 'browse-editor' user_pk=editor.pk %}" aria-current="page">{{ editor.display_name }}</a></li>
        </ol>
    </nav>
    <h1 class="center">
        {{ editor.display_name }}'s Published Collations
    </h1>
    <hr>
    <div class="f-col">
        {% for collation in collations %}
            <a href="{% url 'browse-collation' collation_pk=collation.pk user_pk=editor.pk %}" class="<button>">{{ collation.name }}</a>
        {% endfor %}
    </div>
</main>
{% endblock content %}