{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div class="flex">
        <div class="hidden md:flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto border-r bg-orange-100 dark:bg-cyan-1400"
            id="sidebar-nav-published">
            <div class="flex flex-col justify-between mt-6">
                <h1 class="text-2xl text-center">{{ section.name }}</h1>
                <hr class="my-4 border-orange-700 border-t-4">
                <ul>
                    {% include 'published/verses.html' %}
                </ul>
            </div>
        </div>
        <button type="button" aria-label="Show Menu" title="Show Menu"
            class="z-30 absolute md:hidden rounded-md p-2 text-gray-00 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            _="on click toggle .hidden on #sidebar-nav-published">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
        </button>
        <main id="main" class="mx-1 mb-auto w-full">
            <div class="flex flex-col w-full items-center">
                {% if editor %}
                    {% include 'published/breadcrumbs/editor-collation-section.html' %}
                {% else %}
                    {% include 'published/breadcrumbs/collation-section.html' %}
                {% endif %}
            </div>
        </main>
    </div>
</div>

{% endblock content %}