{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <h1 class="center">
        Published Collations
    </h1>
    <hr>
    <div class="f-switch">
        <div class="f-col">
            <h2>Browse by Content</h2>
            <a href="#" class="<button>">Matthew</a>
            <a href="#" class="<button>">Romans</a>
            <a href="#" class="<button>">1 Corinthians</a>
        </div>
        <div class="f-col">
            <h2>Browse by Editor</h2>
            <a href="#" class="<button>">David Flood</a>
            <a href="#" class="<button>">Eberhard Nestle</a>
        </div>
    </div>
</main>
{% endblock content %}