<h3 class="text-2xl text-center my-4">Readings</h3>
<div id="reading-note-container"></div>
<div class="flex flex-col">
    <div class="overflow-x-hidden">
        <div class="py-2 inline-block min-w-full">
            <div class="overflow-hidden">
                <table class="min-w-full" id="rdgs_table_parent">
                    <thead>
                        <tr id="rdgs_header" class="border-b-4 border-orange-700">
                            <th scope="col" class="rdg-id text-start">ID</th>
                            <th scope="col" class="rdg-type text-start">Type</th>
                            <th scope="col" class="rdg-rdg text-start">Reading</th>
                            <th scope="col" class="rdg-wit text-start">Witnesses</th>
                        </tr>
                    </thead>
                    <tbody id="rdgs_table">
                        {% for rdg in rdgs %}
                            <tr class="{% cycle '' 'bg-orange-50 dark:bg-cyan-1500' %}">
                                <td class="px-2" width="5px">{{ rdg.name }}</td>
                                <td class="px-2" width="5px">{{ rdg.rtype }}</abbr></td>
                                <td class="font-greek font-semibold px-2" width="40%">{{ rdg.text }}</td>
                                <td class="px-2" width="45%">{% for w in rdg.wit.all %}<span title="{{ w.description }}">{{ w.siglum }}.</span> {% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if witDetails %}
                    <h4 class="text-xl text-center my-4 font-bold">
                        Ambiguous Witness Readings
                    </h4>
                    <table class="min-w-full" id="rdgs_table_parent">
                        <thead>
                            <tr id="rdgs_header" class="border-b-4 border-orange-700">
                                <th scope="col" class="rdg-id text-start">ID</th>
                                <th scope="col" class="rdg-type text-start">Type</th>
                                <th scope="col" class="rdg-rdg text-start">Potential Readings</th>
                                <th scope="col" class="rdg-wit text-start">Witnesses</th>
                            </tr>
                        </thead>
                        <tbody id="rdgs_table">
                            {% for rdg in witDetails %}
                                <tr class="{% cycle '' 'bg-orange-50 dark:bg-cyan-1500' %}">
                                    <td class="px-2">{{ rdg.name }}</td>
                                    <td class="px-2">{{ rdg.rtype }}</abbr></td>
                                    <td class="font-greek font-semibold px-2">{% for t in rdg.target.all %}{% if forloop.last %}{{ t.name }}{% else %}{{ t.name }}, {% endif %}{% endfor %}</td>
                                    <td class="px-2">{% for w in rdg.wit.all %}<span title="{{ w.description }}">{{ w.siglum }}.</span> {% endfor %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr class="border-t-orange-700">

<div class="flex flex-col items-center">
    <h3 class="text-2xl text-center my-4">Local Stemma</h3>
    <div id="graph-div">{{ local_stemma|safe }}</div>
</div>
<style>
    div#graph-div>svg {
        max-width: 100%;
        max-height: 100%;
    }
</style>