{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="my-5 p-5 flex flex-col items-center">
    <div class="bg-orange-100 dark:bg-cyan-1100 p-8 rounded-xl">
        <h1 class="text-4xl my-8 text-center">Log In</h1>
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    
        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}
    
        <form class="flex flex-col items-center"
            method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn-submit my-4 mx-2 block w-full text-center" type="submit">Log In</button>
            <a class="btn my-4 mx-2 block w-full text-center" href="{% url 'django_registration_register' %}">Register</a>
            <a class="btn my-4 mx-2 block w-full text-center" href="{% url 'password_reset' %}">Forgot Password</a>
        </form>
    </div>
</div>
{% endblock %}