{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Log In</button>
        {% comment %} <a class="btn btn-outline-info ms-auto" href="{% url 'django_registration_register' %}">Register</a> {% endcomment %}
    </form>
</div>
{% endblock %}