{% extends 'base.html' %}
{% block content %}
<main class="block p-8 mx-auto mt-6">
    <div class="bg-emerald-100 dark:bg-emerald-700 border border-emerald-500 p-8">
        <h1 class="text-4xl my-2 text-center">Password Reset Complete</h1>
        <p class="text-center">
            Your password has been set. My may now go ahead and log in.
        </p>
        <p class="mt-4 flex flex-col items-center">
            <a href="{% url 'login' %}" class="btn">Log in</a>
        </p>
    </div>
</main>
{% endblock %}