{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="my-5 p-5 flex flex-col items-center">
    <div class="bg-orange-100 dark:bg-cyan-1100 p-8 rounded-xl">
        <h1 class="text-4xl my-8 text-center">Enter New Password</h1>
        <form class="mt-8 sm:ml-8" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn-submit my-6 mx-2 block w-full text-center" type="submit">Change My Password</button>
        </form>
    </div>
</div>
{% endblock %}