{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="my-5 p-5 flex flex-col items-center">
    <div class="bg-orange-100 dark:bg-cyan-1100 p-8 rounded-xl">
        <h1 class="text-4xl my-8 text-center">Password Reset Sent</h1>
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            <br>
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}