<div id="breadcrumbs" hx-swap-oob="true">
    <nav class="m-2" aria-label="breadcrumbs">
        <ol class="list-reset flex">
            <li>
                <a class="normal-link" 
                    hx-get="{% url 'collation' %}" hx-target="#sidebar-header">
                    Apparatuses
                </a>
            </li>
            <li><span class="text-gray-500 dark:text-white mx-2">/</span></li>
            <li>
                <a class="normal-link"
                    hx-get="{% url 'section-list' collation_pk=section.collation.pk %}" hx-target="#sidebar-header">
                    {{ section.collation.name }}
                </a>
            </li>
        </ol>
    </nav>
</div>
<h1 class="text-2xl text-center" style="margin-top: 5px;">
    {{ section.name }}
</h1>
<hr class="my-4 border-orange-700 border-t-4">
<ul role="list" id="section_list"
    hx-trigger="refreshAbs from:body"
    hx-get="{% url 'list-abs' section_pk=section.pk %}"
    hx-push-url="true"
    hx-target="#sidebar-header">
    {% with coll=section.collation abs=section.abs.all %}
    {% if abs.count > 30 %}
        <input type="text" name="filter verses" title="filter verses" aria-label="filter verses" class="w-full" 
            placeholder="filter verses"
            _="on keyup
            if the event's key is 'Escape'
              set my value to ''
              trigger keyup
            else
             show <li/> in #section_list when its textContent contains my value
            end">
    {% endif %}
    {% for ab in abs %}
        <li class="min-w-full my-2 flex flex-row">
            <a hx-get="{% url 'apparatus' ab_pk=ab.pk %}" 
                hx-target="#main"
                class="list-abs-li btn w-10/12" 
                role="listitem" aria-current="false"
                _="on click remove @aria-current from .list-abs-li
                then set my @aria-current to 'location' 
                then remove .btn-selected from .list-abs-li then add .btn to .list-abs-li
                then remove .btn from me then add .btn-selected to me end">
                {{ ab.name }}
            </a>
            <button type="button" aria-label="edit section metadata" 
                class="btn ml-2 px-1"
                title="Edit Section Metadata"
                hx-get="{% url 'edit-ab' ab_pk=ab.pk %}"
                hx-target="#main">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </button>
        </li>
    {% endfor %}
    {% endwith %}
</ul>
<hr class="my-4 border-orange-700 border-t-2">
<button type="button" class="btn w-full mt-2 inline-flex text-center"
    hx-get="{% url 'new-ab' section_pk=section.pk %}" hx-target="#main">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-2">
        <path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
    </svg>
    New Verse
</button>
<button type="button" style="white-space: nowrap;"
    class="btn w-full mt-4 inline-flex text-center"
    hx-get="{% url 'upload-tei' section_pk=section.pk %}"
    hx-target="#main">
    <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
    </svg>
    Upload Collation File
</button>