<tr id="rdg-form-{{ rdg.pk }}"
    hx-post="{% url 'edit-rdg' rdg_pk=rdg.pk inline='True' %}"
    hx-target="#readings"
    hx-trigger="submit, keyup[keyCode==13]"
    hx-include="#rdg-form-{{ rdg.pk }}">
    <td>
        <label for="id_name" class="sr-only">Reading ID</label>
        <input type="text" name="name" id="id_name" value="{{ form.name.value }}" style="max-width: 70px;" required>
    </td>
    <td>
        <label for="id_rtype" class="sr-only">Reading Type</label>
        <input type="text" name="rtype" id="id_rtype" value="{{ form.rtype.value }}" style="max-width: 80px;" required list="rdg-types">
        <datalist id="rdg-types">
            {% for type in rtypes %}
                <option>{{ type }}</option>
            {% endfor %}
        </datalist>
    </td>
    <td>
        <label for="id_text" class="sr-only">Reading Text</label>
        <input type="text" name="text" id="id_text" value="{{ form.text.value }}" style="max-width: 200px;">
    </td>
    <td>
        <label for="wit_input" class="sr-only">Reading Witnesses, type an available witness to add</label>
        {{ form.wit }}
    </td>
    <td class="text-right">
        <button type="button" class="btn-submit px-0 my-1" title="Save" aria-label="Save"
            _="on click send submit to #rdg-form-{{ rdg.pk }} end">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
        </button>
        <button type="button" class="btn-secondary px-0 my-1" title="Cancel" aria-label="Cancel"
            hx-get="{% url 'cancel-new-rdg' app_pk=rdg.app.pk %}"
            hx-target="#readings">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
        <button type="button" class="btn-danger px-0 my-1" title="Delete" aria-label="Delete"
            hx-delete="{% url 'edit-rdg' rdg_pk=rdg.pk inline='False' %}"
            hx-target="#readings"
            hx-confirm="Are you sure you want to delete this reading along with its type, reading, and witnesses?">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
            </svg>
        </button>
    </td>
</tr>