<a class="chip" hx-get="{% url 'section-list' collation_id=section.collation.pk %}" hx-target="#sidebar-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 2 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Sections
</a>
<h1 style="margin-top: 5px;">{{ section.collation.name }}</h1>
<h2 class="<h4> text-center">{{ section.name }}</h2>
<hr>
<ul role="list" id="section_list"
    hx-trigger="refreshAbs from:body"
    hx-get="{% url 'ab-list' section_id=section.pk %}"
    hx-target="#sidebar-header">
    {% for ab in abs %}
        <li>
            <a hx-get="{% url 'apparatus' ab_pk=ab.pk %}" hx-target="#main">{{ ab.number }}: {{ ab.ab_id }}</a>
            <button type="button" aria-label="edit section metadata" title="Edit Section Metadata"
                hx-get="{% url 'edit-ab' ab_pk=ab.pk %}"
                hx-target="#main">
                &#128393;
            </button>
        </li>
    {% endfor %}
</ul>
<button type="button"
    hx-get="{% url 'new-ab' section_id=section.pk %}" hx-target="#main">
    <svg style="margin-right:3px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
    </svg>
    New Verse
</button>