<div id="apparatus-div" class="fullbleed">
    <h3 class="center" style="margin-top:0;">{{ ab.ab_id }}</h3>
    <div class="box center plain bg">
        <h4>Variation Units</h4>
        <div class="f-row flex-wrap:wrap packed" id="app-buttons-wrapper">
            {% block app_buttons %}
                {% for app in ab.apps.all %}
                    <button id="app-{{ app.pk }}" class="big app-button" type="button" 
                        hx-get="{% url 'rdgs' app_pk=app.pk %}" 
                        hx-target="#rdgs_table"
                        _="on contextmenu js event.preventDefault(); end
                        on mouseenter add .highlight to .bt-{{ app.pk }} end
                        on mouseleave remove .highlight from .bt-{{ app.pk }} end
                        on click remove .selected from .app-button then add .selected to me 
                        then remove .selected from <td/> then add .selected to .bt-{{ app.pk }} end">
                        {{ app.index_from }}{% if app.index_from != app.index_to %}–{{ app.index_to }}{% endif %}
                    </button>
                    <div class="f-col">
                        <button class="edit-app-button" type="button" aria-haspopup="menu" aria-controls="edit-{{ app.pk }}"
                            aria-expanded="false" 
                            aria-label="edit collation unit {{ app.index_from }}{% if app.index_from != app.index_to %}–{{ app.index_to }}{% endif %}"
                            title="edit collation unit" style="height: 100%;">
                            &#128393;
                        </button>
                        <div class="menu-div" role="menu" id="edit-{{ app.pk }}" hidden>
                            <a role="menuitem" tabindex="-1"
                                hx-get="{% url 'edit-app' ab_pk=ab.pk app_pk=app.pk %}" 
                                hx-target="#app-buttons-wrapper">
                                Edit
                            </a>
                            <a role="menuitem" tabindex="-1"
                                hx-delete="{% url 'edit-app' ab_pk=ab.pk app_pk=app.pk %}"
                                hx-target="#app-buttons-wrapper">
                                Delete
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% block new_app_button %}
                    <button class="ok bg color" type="button" 
                        hx-get="{% url 'edit-app' ab_pk=ab.pk app_pk=0 %}" 
                        hx-target="#app-buttons-wrapper" aria-label="add new variation unit" 
                        title="add new variation unit" style="margin-left: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                    </button>
            {% endblock new_app_button %}
            <script type="module">
                import { menu, menuButton } from "https://the.missing.style/v1.0.3/missing-js/menu.js"
                menuButton(document.getElementById("apparatus-div"))
                menu(document.getElementById("apparatus-div"))
            </script>
            {% endblock app_buttons %}
        </div>
    </div>

    <h4 class="center">Basetext - {{ ab.basetext_label }}</h4>
    <table id="basetext" class="plain bg fit">
        <tbody id="basetext_table_body">
            
            {% block basetext_row %}
                <tr hx-get="{% url 'refresh-basetext' ab_pk=ab.pk %}"
                    hx-target="#basetext_table_body" hx-trigger="refreshBasetext from:body">
                    <th scope="row">Basetext<br>Index</th>
                    {% for word in ab.indexed_basetext %}
                        {% if word.is_variant %}
                            <td class="text-center v bt-{{ word.app_pk }}" tabindex="0" hx-get="{% url 'rdgs' app_pk=word.app_pk %}" hx-target="#rdgs_table"
                                _="on mouseenter add .highlight to .bt-{{ word.app_pk }} then add .highlight to #app-{{ word.app_pk }} end
                                on mouseleave remove .highlight from .bt-{{ word.app_pk }} then remove .highlight from #app-{{ word.app_pk }} end
                                on click remove .selected from <td/> then add .selected to .bt-{{ word.app_pk }} 
                                then remove .selected from .app-button then add .selected to #app-{{ word.app_pk }}">
                                {{ word.word }}<br>{{ word.index }}
                            </td>
                        {% else %}
                            <td class="text-center">
                                {{ word.word }}<br>{{ word.index }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endblock basetext_row %}

        </tbody>
    </table>

    <h4 class="center">Readings</h4>
    <table class="plain bg fit" id="rdgs_table_parent">
        <thead>
            <tr id="rdgs_header">
                <th scope="col" class="rdg-id">ID</th>
                <th scope="col" class="rdg-type">Type</th>
                <th scope="col" class="rdg-rdg">Reading</th>
                <th scope="col" class="rdg-wit">Witnesses</th>
                <th scope="col" class="rdg-edit" style="text-align:end;">&#128393;</th>
            </tr>
        </thead>
        <tbody id="rdgs_table"></tbody>
    </table>

    <h4 class="center">Genealogical Relationships</h4>

    <div class="f-switch fit">
        <div class="box plain bg center">
            <h4>Local Stemma</h4>
            <svg width="152pt" height="44pt" viewBox="0.00 0.00 152.00 44.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 40)">
                <title>G</title>
                <polygon fill="#fff0c6" stroke="transparent" points="-4,4 -4,-40 148,-40 148,4 -4,4"></polygon>
                <!-- a -->
                <g id="node1" class="node">
                <title>a</title>
                <text text-anchor="middle" x="27" y="-14.3" font-family="Times,serif" font-size="14.00" fill="#000000">a</text>
                </g>
                <!-- b -->
                <g id="node2" class="node">
                <title>b</title>
                <text text-anchor="middle" x="117" y="-14.3" font-family="Times,serif" font-size="14.00" fill="#000000">b</text>
                </g>
                <!-- a&#45;&gt;b -->
                <g id="edge1" class="edge">
                <title>a-&gt;b</title>
                <path fill="none" stroke="#d86a3b" d="M54.003,-18C62.0277,-18 70.9665,-18 79.5309,-18"></path>
                <polygon fill="#d86a3b" stroke="#d86a3b" points="79.7051,-21.5001 89.705,-18 79.705,-14.5001 79.7051,-21.5001"></polygon>
                </g>
                </g>
                </svg>
        </div>

        <div class="box plain bg center">
            <h4>Set Local Stemma</h4>
            <div class="f-col">
                <form action="submit">
                    <div role=radiogroup aria-labelledby=from-node-label>
                        <span id=from-node-label>Reading Source</span>
                        <div class="f-row">
                            <div><label><input type=radio name=source value="a"> a</label></div>
                            <div><label><input type=radio name=source value="b"> b</label></div>
                            <div><label><input type=radio name=source value="a"> a</label></div>
                            <div><label><input type=radio name=source value="b"> b</label></div>
                            <div><label><input type=radio name=source value="a"> a</label></div>
                            <div><label><input type=radio name=source value="b"> b</label></div>
                            <div><label><input type=radio name=source value="a"> a</label></div>
                            <div><label><input type=radio name=source value="b"> b</label></div>
                        </div>
                    </div>
                </form>

                <form action="submit">
                    <div role=radiogroup aria-labelledby=to-node-label>
                        <span id=to-node-label>Reading Destination</span>
                        <div class="f-row">
                            <div><label><input type=radio name=destination value="a"> a</label></div>
                            <div><label><input type=radio name=destination value="b"> b</label></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>