<div id="breadcrumbs" hx-swap-oob="true"></div>
<h1 class="text-2xl text-center">
    Apparatuses
</h1>
<hr class="my-4 border-orange-700 border-t-4">
    <ul role="list">
        {% for collation in user.collations.all %}
            <li class="min-w-full my-2 flex flex-row">
                <a class="btn w-10/12 px-1 whitespace-nowrap overflow-hidden text-ellipsis"
                    hx-get="{% url 'section-list' collation_pk=collation.pk %}"
                    hx-push-url="true"
                    hx-target="#sidebar-header"
                    title="{{ collation.name }}">
                    {{ collation.name }}
                </a>
                <button class="btn ml-2 px-1"
                    type="button" aria-label="collation options" title="Collation Options"
                    hx-get="{% url 'edit-collation' collation_pk=collation.pk %}"
                    hx-target="#main">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                </button>
                <button class="btn ml-2 px-1 analyze-btn{% if selected_collation.pk == collation.pk %} btn-selected{% endif %}"
                    type="button" aria-label="collation options" title="Analyze Collation"
                    hx-get="{% url 'analyze-collation' collation_pk=collation.pk %}"
                    hx-target="#main"
                    hx-push-url="true"
                    _="on click remove .btn-selected from .analyze-btn then add .btn-selected to me end">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="16" height="16">
                        <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 000 1.5H3v10.5a3 3 0 003 3h1.21l-1.172 3.513a.75.75 0 001.424.474l.329-.987h8.418l.33.987a.75.75 0 001.422-.474l-1.17-3.513H18a3 3 0 003-3V3.75h.75a.75.75 0 000-1.5H2.25zm6.04 16.5l.5-1.5h6.42l.5 1.5H8.29zm7.46-12a.75.75 0 00-1.5 0v6a.75.75 0 001.5 0v-6zm-3 2.25a.75.75 0 00-1.5 0v3.75a.75.75 0 001.5 0V9zm-3 2.25a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0v-1.5z" clip-rule="evenodd" />
                    </svg>
                </button>
            </li>
        {% endfor %}
    </ul>
<button type="button" class="btn w-full mt-4 inline-flex text-center"
    hx-get="{% url 'new-collation' %}" hx-target="#main">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-2">
        <path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
    </svg>
    New Apparatus
</button>