{% load static crispy_forms_tags %}
<div class="box" style="margin-top: 10px;">
    <h4 class="text-xl text-center my-4">Edit {{ rdg.app.ab.name }}U{{ rdg.app.index_from }}{% if rdg.app.index_from != rdg.app.index_to %}–{{ rdg.app.index_to }}{% endif %}: Reading {{ rdg.name }}</h4>
    <form action="submit"
        hx-post="{% url 'edit-rdg' rdg_pk=rdg.pk %}"
        hx-target="#readings">
        {{ form|crispy }}
        <datalist id="rdg-types">
            {% for type in rtypes %}
                <option>{{ type }}</option>
            {% endfor %}
        </datalist>
        <div class="flex flex-row my-4">
            <button type="submit" class="btn-submit mx-2">
                Submit
            </button>
            <button type="button" class="btn-secondary mx-2"
                hx-get="{% url 'cancel-new-rdg' app_pk=rdg.app.pk %}"
                hx-target="#readings">
                Cancel
            </button>
            <button type="button" class="btn-danger mx-2"
                hx-delete="{% url 'edit-rdg' rdg_pk=rdg.pk %}"
                hx-target="#readings"
                hx-confirm="Are you sure you want to delete this reading along with its type, reading, and witnesses?">
                Delete
            </button>
        </div>
    </form>
</div>
<div _="on load call setEventListeners()"></div>
