{% load crispy_forms_tags %}
<div class="flex flex-col items-start sm:mx-12">
    <h2 class="text-2xl my-3">Editing: {{ section.collation.name }} {{ section.name }}</h2>
    <form hx-post="{% url 'edit-section' section_id=section.pk %}" class="my-6" hx-target="#main">
        {{ form|crispy }}
        <button type="submit" class="btn-submit my-2">
            Update
        </button>
    </form>
    <button type="button" class="btn-secondary my-2"
        _="on click set #main's innerHTML to ''">
        Cancel
    </button>

    <label for="collation-section-toolbar" class="mt-10">Options:</label>
    <section class="flex flex-row" id="collation-section-toolbar">
        <a class="normal-link mx-2"
            href="{% url 'download-tei-section' section_pk=section.pk %}" target="_blank">
            <svg class="inline-block mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
            </svg>
            Download
        </a>
        <button type="button" class="btn mx-2"
            hx-get="{% url 'send-cbgm-db' corpus_pk=section.pk corpus_type=1 %}"
            hx-target="#main">
            Import to open-cbgm
        </button>
        <span class="px-6">|</span>
        <button type="button" class="btn-danger ml-2"
            hx-delete="{% url 'edit-section' section_id=section.pk %}"
            hx-confirm="Are you sure you want to delete an entire section? This will also delete all of the verses, variation units, and readings that belong to this section."
            hx-target="#main">
            <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
            Delete
        </button>
    </section>
</div>