<h3>Editing: {{ collation.name }}</h3>
<form hx-post="{% url 'edit-collation' collation_id=collation.pk %}" class="table rows" hx-target="#main">
    {{ form.as_p }}
    <button type="submit" class="ok color bg">Submit</button>
    <button type="button"
        _="on click set #main's innerHTML to ''">
        Cancel
    </button>
    <button type="button" class="bad color bg"
        hx-delete="{% url 'edit-collation' collation_id=collation.pk %}"
        hx-confirm="Are you sure you want to delete an entire collation? This will also delete all of the sections, verses, variation units, and readings that belong to this collation."
        hx-target="#main">
        Delete
    </button>
</form>