{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="breadcrumbs"></div>

<div class="flex">
    <header id="sidebar-header" class="hidden absolute lg:relative lg:flex lg:flex-col w-72 min-h-screen px-4 py-8 overflow-y-auto border-r bg-orange-50 dark:bg-cyan-1400">
        <div class="flex flex-col justify-between mt-6">
            {% include 'collation/collations.html' %}
        </div>
    </header>
    <main id="main" class="mx-3 mb-auto w-full"></main>
</div>
{% endblock %}