{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="breadcrumbs"></div>

<div class="flex">
    <header id="sidebar-header" class="z-20 hidden absolute lg:relative lg:flex lg:flex-col w-72 min-h-screen px-4 py-8 overflow-y-auto border-r bg-orange-50 dark:bg-cyan-1400">
        <div class="flex flex-col justify-between mt-6">
            {% if collation_list %}
                {% include 'collation/collations.html' %}
            {% elif section_list %}
                {% include "collation/_sections.html" %}
            {% elif ab_list %}
                {% include "collation/_abs.html" %}
            {% endif %}
        </div>
    </header>
    <button type="button" aria-label="Show Menu" title="Show Menu"
        class="z-30 absolute lg:hidden rounded-md p-2 text-gray-00 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        _="on click toggle .hidden on previous <header/>">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
        </svg>
    </button>
    <main id="main" class="mx-3 mb-auto w-full">
        {% if load_apparatus %}
            {% include "collation/_apparatus.html" %}
        {% elif analyze_collation %}
            {% include 'collation/_analyze.html' %}
        {% endif %}
    </main>
</div>
{% endblock %}