{% load crispy_forms_tags %}
<div class="border-black dark:border-white border-2 p-6 w-fit">
    <h4 class="text-xl mt-12 mb-4">New Reading</h4>
    <form action="submit"
        hx-post="{% url 'new-rdg' app_pk=app_pk %}"
        hx-target="#readings">
        {{ form|crispy }}
        <p>
            <label class="sr-only" for="wits-filter">Filter Witnesses</label>
            <input type="text" id="wits-filter" placeholder="Filter Witnesses"
                _="on keyup if my value == '' show <option/> in #id_wit else if the event's key is 'Escape' set my value to '' trigger keyup else show <option/> in #id_wit when its textContent.startsWith(my value) end">
        </p>
        <button type="submit" class="btn-submit mx-2 mt-4">
            Submit
        </button>
        <button type="button" class="btn-secondary mx-2"
            hx-get="{% url 'cancel-new-rdg' app_pk=app_pk %}"
            hx-target="#readings">
            Cancel
        </button>
    </form>
</div>
<script>
    var selected_witnesses = document.getElementById('id_selected_witnesses');
    // add change event listener to #id_wit
    document.getElementById('id_wit').addEventListener('change', function (event) {
        selected_witnesses.value = ''
        var selectedOptions = event.target.selectedOptions;
        var values = [];
        for (var i = 0; i < selectedOptions.length; i++) {
            values.push(selectedOptions[i].textContent);
        }
        selected_witnesses.value = values.join('. ');
    });
</script>