<h3>{{ db.db_name }}</h3>
<hr>
    <form hx-post="{% url 'edit-db' db_pk=db.pk %}" 
        hx-target="#manage-db-right" 
        hx-encoding="multipart/form-data" 
        style="padding-top:0">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="ok color bg big">Update</button>
    </form>
<hr>
<section class="tool-bar mt-10">
    {% comment %} <button type="button"
        {% if request.session.active_db %}hx-confirm="Do you want to replace {{ request.session.active_db.name }} with {{ db.db_name }} as the active database?"{% endif %}
        hx-post="{% url 'set-active-db' db_pk=db.pk %}"
        hx-target="#manage-db-right">
        Set to Active
    </button>
    <hr aria-orientation="vertical"> {% endcomment %}
    <button type="button" class="bad color bg"
        hx-delete="{% url 'edit-db' db_pk=db.pk %}"
        hx-confirm="Are you sure you want to delete this database? Importing new databases from collations can take a while."
        hx-target="#manage-db-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
        </svg>
        Delete
    </button>
</section>

<div id="db-info" hx-swap-oob="true" class="box">
    <h4>Database Settings</h4>
    <p>
        Note that these are set upon importing collation data to the open-cbgm.
        To change any settings, you must re-import the collation with the new options.
    </p>
    <p><strong>Threshold:</strong> {{ db.threshold }}</p>
    <p><strong>Trivial Types:</strong> {{ db.trivial_types }}</p>
    <p><strong>Ignore Types:</strong> {{ db.ignore_types }}</p>
    <p><strong>Ignore Suffixes:</strong> {{ db.ignore_suffixes }}</p>
    <p><strong>Merge Splits:</strong> {{ db.merge_splits }}</p>
    <p><strong>Use Classic Rules:</strong> {{ db.use_classic_rules }}</p>
    <p>
        <label for="wits-in-db"><strong>All Witnesses in this Collation</strong></label>
        <select style="min-width:300px;" size="10" id="wits-in-db">
            {% for wit in sorted_witnesses %}
                <option>{{ wit }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="apps-in-db"><strong>All Variation Units in this Collation</strong></label>
        <select style="min-width:300px;" size="10" id="apps-in-db">
            {% for app in sorted_app_labels %}
                <option>{{ app }}</option>
            {% endfor %}
        </select>
    </p>
</div>

<div id="compare-wits" role="tabpanel" 
    hx-swap-oob="true" hidden>
    <h2>Compare Witnesses <span class="italic">(Pregenealogical Coherence)</span></h2>
    <div class="f-switch">
        <form action="submit" 
            hx-post="{% url 'compare-witnesses' db_pk=db.pk %}"
            hx-target="#compare-witnesses-results">
            <h3>Select Witnesses to Compare</h3>
            <p>Enter a witnesses against which others will be compared. All selected witnesses will be compared to the entered witness. If no witnesses are selected for comparison, then <strong>every</strong> witness in the collation will be compared to the entered witness.</p>
            {{ compare_wits_form.as_p }}
            <datalist id="witnesses-datalist">
                {% for wit in sorted_witnesses %}
                    <option value="{{ wit }}"></option>
                {% endfor %}
            </datalist>
            <button type="submit" class="big">
                Compare
            </button>
        </form>
        <div id="compare-witnesses-results"></div>
    </div>
</div>

<div id="find-relatives" role="tabpanel" 
    hx-swap-oob="true" hidden>
    <h2>Find Relatives <span class="italic">(Comparison of Witnesses)</span></h2>
    <div class="f-switch">
        <form action="submit" 
            hx-post="{% url 'find-relatives' db_pk=db.pk %}"
            hx-target="#find-relatives-results">
            <h3>Select Witnesses to Compare</h3>
            <p>Enter a witnesses and a variation unit location to see all witnesses that agree in that variation unit.</p>
            <p>
                {{ find_relatives_form.witness.label_tag }}
                {{ find_relatives_form.witness.errors }}
                {{ find_relatives_form.witness }}
            </p>

            <p>
                {{ find_relatives_form.app_labels.label_tag }}
                {{ find_relatives_form.app_labels.errors }}
                <select name="app_labels" id="id_app_labels" size="10" style="min-width:300px;">
                    {% for app in app_groups %}
                        <optgroup label="{{ app.name }}">
                            {% for unit in app.units %}
                                <option value="{{ unit.0 }}" 
                                    hx-get="{% url 'get-rdgs-for-app' db_pk=db.pk variation_unit=unit.0 %}"
                                    hx-target="#id_variation-unit-rdgs">
                                    {{ unit.1 }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="id_variation-unit-rdgs">Readings (optional)</label>
                <select name="variation-unit-readings" id="id_variation-unit-rdgs"
                    style="min-width: 300px;" size="5" multiple></select>
            </p>
            <div class="f-row">
                <button class="info bg color">Clear Reading Selection</button>
                <button type="submit" class="big">
                    Find Relatives
                </button>
            </div>
        </form>
        <div id="find-relatives-results"></div>
    </div>
</div>

<div id="optimize-substemma" role="tabpanel" 
    hx-swap-oob="true" hidden>
    <h2>Optimize Substemma</h2>
    <div class="f-switch">
        <form action="submit" 
            hx-post="{% url 'optimize-substemmata' db_pk=db.pk %}"
            hx-target="#optimize-substemma-results">
            {{ optimize_substemma_form.as_p }}
            <button type="submit" class="big">
                Identify Potential Ancestors
            </button>
        </form>
        <div id="optimize-substemma-results"></div>
    </div>
</div>

<div id="local-stemma" role="tabpanel" 
    hx-swap-oob="true" hidden>
    <h2>Local Stemma</h2>
    <div class="f-switch">
        <form >
            <p>
                {{ local_stemma_form.app_labels.label_tag }}
                {{ local_stemma_form.app_labels.errors }}
                <select name="app_labels" id="id_app_labels" size="10" style="min-width:300px;">
                    {% for app in app_groups %}
                        <optgroup label="{{ app.name }}">
                            {% for unit in app.units %}
                                <option value="{{ unit.0 }}" 
                                    hx-get="{% url 'local-stemma' db_pk=db.pk variation_unit=unit.0 %}"
                                    hx-target="#local-stemma-div">
                                    {{ unit.1 }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </p>
        </form>
        <div id="local-stemma-div"></div>
    </div>
</div>

<div id="textual-flow" role="tabpanel" 
    hx-swap-oob="true" hidden>
    <h2>Textual Flow Diagrams</h2>
    {% block textual_flow_form %}
        <form action="submit" class="f-switch" id="textual-flow-form"
            hx-post="{% url 'textual-flow' db_pk=db.pk %}"
            hx-target="#textual-flow-graphs">
            {% for field in textual_flow_form %}
                <p class="f-col">
                    {% if field.name == 'app_labels' %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        <select name="app_labels" id="id_app_labels" size="10" style="min-width:300px;">
                            {% for app in app_groups %}
                                <optgroup label="{{ app.name }}">
                                    {% for unit in app.units %}
                                        <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endif %}
                </p>
            {% endfor %}
            <button type="submit" class="big" style="max-height: 60px;"
                _="on htmx:beforeSend from #textual-flow-form toggle @hidden on #textual-flow-indicator until htmx:afterOnLoad from body end
                   on htmx:beforeSend from #textual-flow-form toggle @disabled on <button/> until htmx:afterOnLoad from body end">
                Generate Diagram(s)
            </button>
            <div id="textual-flow-indicator" hidden>
                {% include 'svg/clock_spinner.svg' %}
            </div>
        </form>
    {% endblock textual_flow_form %}
    <div id="textual-flow-graphs" style="width: 100%;"></div>
</div>

<div id="global-stemma" role="tabpanel" 
    hx-swap-oob="true" hidden>
    <h2>Global Stemma</h2>
    <form action="submit" id="global-stemma-form"
        hx-post="{% url 'global-stemma' db_pk=db.pk %}"
        hx-target="#global-stemma-graph">
        {{ global_stemma_form.as_p }}
        <button type="submit" class="big"
            _="on htmx:beforeSend from #global-stemma-form toggle @hidden on #global-stemma-indicator until htmx:afterOnLoad from body end
               on htmx:beforeSend from #global-stemma-form toggle @disabled on <button/> until htmx:afterOnLoad from body end">
            Generate Global Stemma
        </button>
        <div id="global-stemma-indicator" hidden>
            {% include 'svg/clock_spinner.svg' %}
        </div>
    </form>
    <div id="global-stemma-graph" style="width: 100%;"></div>
</div>