<table class="table-auto w-full">
    <h3 class="text-3xl my-4 text-center">Relatives for <span class="font-bold">{{ json.primary_wit }}</span> at <span class="font-bold">{{ json.primary_extant }}</span> extant variation units</h3>
    <thead>
        <tr class="bg-orange-200 dark:bg-cyan-1400">
            <th><abbr title="Identifier (usually a witness siglum)">ID</abbr></th>
            <th><abbr title="direction of relationship">Dir</abbr></th>
            <th><abbr title="ask Joey">NR</abbr></th>
            <th><abbr title="Reading">Rdg</abbr></th>
            <th><abbr title="Extant Variation Units">ExtV</abbr></th>
            <th><abbr title="Agreements">Agr</abbr></th>
            <th><abbr title="Percentage of agreement">PercAgr</abbr></th>
            <th><abbr title="Prior Readings">Prior</abbr></th>
            <th><abbr title="Posterior Readings">Posterior</abbr></th>
            <th><abbr title="No Relationship">NoRel</abbr></th>
            <th><abbr title="Unclear Readings">Uncl</abbr></th>
            <th><abbr title="ask Joey">Expl</abbr></th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for row in json.rows %}
            <tr class="{% cycle '' 'bg-orange-100 dark:bg-cyan-1000' %}">
                <td class="mx-2 text-center">{{ row.id }}</td>
                <td class="mx-2 text-center">
                    {% if row.dir == -1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                        </svg>  
                    {% elif row.dir == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                        </svg>
                    {% else %}={% endif %}
                </td>
                <td class="mx-2 text-center">{{ row.nr }}</td>
                <td class="mx-2 text-center">{{ row.rdg }}</td>
                <td class="mx-2 text-center">{{ row.pass }}</td>
                <td class="mx-2 text-center">{{ row.eq }}</td>
                <td class="mx-2 text-center">{{ row.perc }}</td>
                <td class="mx-2 text-center">{{ row.prior }}</td>
                <td class="mx-2 text-center">{{ row.posterior }}</td>
                <td class="mx-2 text-center">{{ row.norel }}</td>
                <td class="mx-2 text-center">{{ row.uncl }}</td>
                <td class="mx-2 text-center">{{ row.expl }}</td>
                <td class="mx-2 text-center">{{ row.cost }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>