{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex overflow-x-hidden">
    <div class="hidden absolute lg:relative lg:flex lg:flex-col w-64 min-h-screen px-4 py-8 overflow-y-auto border-r bg-orange-50 dark:bg-cyan-1400"
        id="sidebar-nav">
        <div class="flex flex-col justify-between mt-6">
            <h1 class="text-2xl text-center">open-cbgm</h1>
            <hr class="my-4 border-orange-700 border-t-4">
            <p id="active-db-p" style="display: none;" class="text-center">Active Database: <br><strong id="active-db-label"></strong></p>
            <div role="tablist" class="mt-10 flex flex-col items-center">
                <button role="tab" aria-controls="about" aria-selected="true"
                    class="cbgm-tab w-full px-4 py-1 text-white bg-orange-700 rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me 
                        then hide .tab-content then show #about end">
                    About
                </button>
            <button type="button" role="tab" aria-controls="manage-db" {% if not request.user.is_authenticated %}disabled{% endif %}
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white hover:bg-orange-400 rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me 
                        then hide .tab-content then show #manage-db end">
                    Manage Databases
                </button>
                <button role="tab" aria-controls="compare-wits" disabled
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me
                        then hide .tab-content then show #compare-wits end">
                    Compare Witnesses
                </button>
                <button role="tab" aria-controls="find-relatives" disabled
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me
                        then hide .tab-content then show #find-relatives end">
                    Find Relatives
                </button>
                <button role="tab" aria-controls="optimize-substemma" disabled
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me
                        then hide .tab-content then show #optimize-substemma end">
                    Optimize Substemma
                </button>
                <button role="tab" aria-controls="local-stemma" disabled
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me
                        then hide .tab-content then show #local-stemma end">
                    Local Stemma
                </button>
                <button role="tab" aria-controls="textual-flow" disabled
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me
                        then hide .tab-content then show #textual-flow end">
                    Textual Flow
                </button>
                <button role="tab" aria-controls="global-stemma" disabled
                    class="cbgm-tab w-full px-4 py-1 text-back dark:text-white rounded-md my-2"
                    _="on click set .cbgm-tab's @aria-selected to 'false' then set my @aria-selected to 'true'
                        then add .hover:bg-orange-400 .hover:text-white to .cbgm-tab then remove .hover:bg-orange-400 .hover:text-white from me 
                        then remove .bg-orange-700 .text-white from .cbgm-tab then add .bg-orange-700 .text-white to me
                        then hide .tab-content then show #global-stemma end">
                    Global Stemma
                </button>
            </div>
        </div>
    </div>
    <button type="button" aria-label="Show Menu" title="Show Menu"
        class="absolute lg:hidden rounded-md p-2 text-gray-00 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        _="on click toggle .hidden on #sidebar-nav">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
        </svg>
    </button>
    <main id="main" class="mx-3 mb-auto w-full">
        <div class="tab-content md:max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto" id="about" role="tabpanel">{% include 'cbgm/about.html' %}</div>
        <div class="tab-content" id="manage-db" role="tabpanel" style="display: none;">
            {% if request.user.is_authenticated %}
                {% include 'cbgm/manage_db.html' %}
            {% endif %}
        </div>
        <div class="tab-content" id="compare-wits" role="tabpanel" style="display: none;"></div>
        <div class="tab-content" id="find-relatives" role="tabpanel" style="display: none;"></div>
        <div class="tab-content" id="optimize-substemma" role="tabpanel" style="display: none;"></div>
        <div class="tab-content" id="local-stemma" role="tabpanel" style="display: none;"></div>
        <div class="tab-content" id="textual-flow" role="tabpanel" style="display: none;"></div>
        <div class="tab-content" id="global-stemma" role="tabpanel" style="display: none;"></div>
    </main>
</div>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        if (event.detail.elt.id == 'select-db') {
            event.detail.path = event.detail.path.replace('0', event.detail.elt.value)
        }
    })
</script>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/svg-pan-zoom/svg-pan-zoom.min.js' %}"></script>
{% endblock extra_js %}