{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="fit">
    <div class="f-row">
        <h1>open-cbgm</h1>
            <p id="active-db-p" hidden>Active Database: <strong id="active-db-label"></strong></p>
    </div>
    <div role="tablist" class="mt-10">
        <button role="tab" aria-controls="manage-db" aria-selected="true">Manage Databases</button>
        <button role="tab" aria-controls="compare-wits" class="cbgm-tab" disabled>Compare Witnesses</button>
        <button role="tab" aria-controls="find-relatives" class="cbgm-tab" disabled>Find Relatives</button>
        <button role="tab" aria-controls="optimize-substemma" class="cbgm-tab" disabled>Optimize Substemma</button>
        <button role="tab" aria-controls="local-stemma" class="cbgm-tab" disabled>Local Stemma</button>
        <button role="tab" aria-controls="textual-flow" class="cbgm-tab" disabled>Textual Flow</button>
        <button role="tab" aria-controls="global-stemma" class="cbgm-tab" disabled>Global Stemma</button>
    </div>
        
    <div id="manage-db"  role="tabpanel">
        <h2>Manage <code>open-cbgm</code> Databases</h2>
        <div class="f-switch">
            <p hx-get={% url 'refresh-dbs' %}
                hx-target="#select-db"
                hx-trigger="refreshDbs from:body">
                <label for="select-db" class="vh">Databases (Imported Collations)</label>
                <select name="db" id="select-db" size="20"
                    hx-get="{% url 'edit-db' db_pk=0 %}"
                    hx-target="#manage-db-right">
                    {% block db_options %}
                        <optgroup label="Entire Works">
                            {% for db in entire_dbs %}
                                <option value="{{ db.pk }}" _="on click remove @disabled from .cbgm-tab then remove @hidden from #active-db-p then set #active-db-label.text to '{{ db.name }}'">{{ db.db_name }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Sections">
                            {% for db in section_dbs %}
                                <option value="{{ db.pk }}" _="on click remove @disabled from .cbgm-tab then remove @hidden from #active-db-p then put '{{ db.db_name }}' into #active-db-label">{{ db.db_name }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Verses">
                            {% for db in verse_dbs %}
                                <option value="{{ db.pk }}" _="on click remove @disabled from .cbgm-tab then show #active-db-p then set #active-db-label.text to '{{ db.name }}'">{{ db.db_name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endblock db_options %}
                </select>
            </p>
            <p id="manage-db-right"></p>
            <div id="db-info"></div>
        </div>
    </div>
    <div id="compare-wits" role="tabpanel" hidden></div>
    <div id="find-relatives" role="tabpanel" hidden></div>
    <div id="optimize-substemma" role="tabpanel" hidden></div>
    <div id="local-stemma" role="tabpanel" hidden></div>
    <div id="textual-flow" role="tabpanel" hidden></div>
    <div id="global-stemma" role="tabpanel" hidden></div>
</div>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        if (event.detail.elt.id == 'select-db') {
            event.detail.path = event.detail.path.replace('0', event.detail.elt.value)
        }
    })
</script>
{% endblock %}