<nav class="rounded-md" aria-label="breadcrumbs">
    <ol class="list-reset flex">
        <li><a class="underline hover:text-orange-700 hover:dark:text-cyan-500 rounded-md" href="{% url 'published' %}">Published</a></li>
            <li><span class="text-gray-500 dark:text-white mx-2">/</span></li>
        <li><a class="underline hover:text-orange-700 hover:dark:text-cyan-500 rounded-md" href="{% url 'browse-collation' collation_pk=section.collation.pk %}">{{ section.collation.name }}</a></li>
            <li><span class="text-gray-500 dark:text-white mx-2">/</span></li>
        <li><a class="underline hover:text-orange-700 hover:dark:text-cyan-500 rounded-md" href="{% url 'browse-section' section_pk=section.pk %}" aria-current="page">{{ section.name }}</a></li>
    </ol>
</nav>